@page
@inject IHtmlLocalizer<AccountResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@model Volo.Abp.Account.Public.Web.Pages.Account.ChangePasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout

<form method="post">
    @if (!Model.HideOldPasswordInput)
    {
        <abp-input asp-for="CurrentPassword"></abp-input>
    }
    <abp-input asp-for="NewPassword"></abp-input>
    <abp-input asp-for="NewPasswordConfirm"></abp-input>
    <abp-button type="submit" button-type="Primary" text="@L["Submit"].Value" />
</form>
