<form (ngSubmit)="ngSubmit()" [formGroup]="form" id="DelegateNewUser" name="DelegateNewUser">
  <div class="mb-3">
    <label for="delegate-new-user-id">{{ 'AbpAccount::UserName' | abpLocalization }}</label>
    <abp-lookup-typeahead
      cid="delegate-new-user-id"
      displayNameProp="userName"
      lookupNameProp="userName"
      formControlName="userNameId"
      [getFn]="getFn"
    ></abp-lookup-typeahead>
  </div>
  <div class="mb-3">
    <label> {{ 'AbpAccount::DelegationDateRange' | abpLocalization }} </label>
    <abp-date-range-picker startDateProp="startTime" endDateProp="endTime" formControlName="times">
    </abp-date-range-picker>
  </div>

  <div class="d-flex justify-content-end align-items-center mb-2 gap-2">
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpAccount::Cancel' | abpLocalization }}
    </button>
    <abp-button iconClass="fa fa-check" buttonType="submit" formName="DelegateNewUser">
      {{ 'AbpAccount::Save' | abpLocalization }}
    </abp-button>
  </div>
</form>
