<form [formGroup]="form" (ngSubmit)="onSubmit()" [mapErrorsFn]="mapErrorsFn" validateOnSubmit>
  <div class="mb-3">
    <label class="form-label" for="current-password">{{
      'AbpIdentity::DisplayName:CurrentPassword' | abpLocalization
    }}</label
    ><span> * </span>
    <abp-password
      inputId="current-password"
      formControlName="currentPassword"
    ></abp-password>
  </div>
  <div class="mb-3">
    <label class="form-label" for="new-password">{{
      'AbpIdentity::DisplayName:NewPassword' | abpLocalization
    }}</label
    ><span> * </span>
    <abp-password
      inputId="new-password"
      formControlName="newPassword"
    ></abp-password>
  </div>
  <div class="mb-3">
    <label class="form-label" for="confirm-new-password">{{
      'AbpIdentity::DisplayName:NewPasswordConfirm' | abpLocalization
    }}</label
    ><span> * </span>

    <abp-password
      inputId="confirm-new-password"
      formControlName="repeatNewPassword"
    ></abp-password>
  </div>

  <abp-button
    class="d-grid"
    iconClass="fa fa-check"
    buttonClass="btn btn-primary color-white"
    buttonType="submit"
    >{{ 'AbpIdentity::Submit' | abpLocalization }}</abp-button
  >
</form>
